<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e097aec4-28ef-4048-82b3-0b0b79835598/resourcegroups/ContactsRG/providers/Microsoft.ContainerRegistry/registries/ContactsContainer</ResourceId>
    <ResourceName>ContactsContainer</ResourceName>
    <ResourceGroup>ContactsRG</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://contactscontainer.azurecr.io</RegistryUrl>
    <PublishImageTag>ContactsApi</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1641a5f9-131d-4cb7-bc15-4c9b9f220409</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>