
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 80vw;
    margin: 15px;
    justify-content: center;
    background-color: #f0f0f0;
    display: block;
  }
  

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  
  .deletebtn {
    background-color: #f44336;
  }

  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    resize: horizontal;
  }
  
