.NavBar {
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    flex-wrap: wrap;
    width: 100%;
}

.NavBar > div {
    margin: auto 20px;
    font-size: 2em;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    padding: 5px 15px;
    min-width: 200px;
    background: #0f0f0f;
}

.NavBar > div a {
    text-decoration: none;
    color: #f0f0f0;
    background: #0f0f0f;
}
