<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e097aec4-28ef-4048-82b3-0b0b79835598/resourceGroups/ContactsRG/providers/Microsoft.ContainerRegistry/registries/ContactsContainer</ResourceId>
    <ResourceName>ContactsContainer</ResourceName>
    <ResourceGroup>ContactsRG</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://contactscontainer.azurecr.io</RegistryUrl>
    <PublishImageTag>ContactsUi</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8a04b8eb-051b-4e74-a2ab-958a0da808e1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>