.NewContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 100px auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 50vh;
}

.NewContactForm > input {
    width: 70%;
}

.myButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    margin: auto 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    display: block;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 3em;
}